.centre-img {
  text-align: center;
}

.align-centre {
  text-align: center;

}

div .row .col-md-4 {
  background-color: #6699ff;
  width: 30%;
}

.col-md-4 p a {
  color: white;
}

.margin{
  margin-top: 200px;
}

.h3margin{
  margin-bottom: 70px;
}

.p-margin{
  margin-top: 20px;
}

.contact-bar{
float: left;
display: inline-block;
  width: 100px;
}
