
.centre-img {
  text-align: center;
}

.align-centre {
  text-align: center;

}
p.right a {
  float: left;
  width: 30%;
  background-color: #6699ff;
  color: white;

}

.margin{
  margin-top: 200px;
}

.h3margin{
  margin-bottom: 70px;
}

.p-margin{
  margin-top: 20px;
}

.contact-bar{
float: left;
display: inline-block;
  width: 100px;
}
